@charset "UTF-8";

	.header 
		{
			color: #E52222;
			text-align: center;
			font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";	
		}		

	body 
		{
			background-color: #E4D4B7;
			text-align: center;
		}
		
	h3
		{
			color: black;
			font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
		}
	table
		{
			font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
			width: 30%;
			background-color: white;
		}
